<!DOCTYPE html>
<html lang="en">
  <%- include ("./snippets/head.ejs") -%>
  <body>
    <%- include ("./snippets/navbar.ejs") -%>

    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg- my-3">
          <h1 class="text-center">Hello <%= user.email %> </h1>
          <p class="text-center lead">Welcome!</p>

          <%- include ("./snippets/messages.ejs") -%>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>

    <%- include ("./snippets/footer.ejs") -%>
  </body>
</html>
